@CHARSET "ISO-8859-1";

body{
	background-color:#b0c4de;
}

.box{
	background-color:#fff;
	width:40%;
	margin-top: 10px;
	padding: 1% 5%;
	margin-left:auto;
	margin-right:auto;
	
	
	font-size: 16pt;
}

.title{
	font-size: 21pt;
	font-weight: bold;
	text-align: center;	
}

.timer{
	width:150px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
}

.ansCorrect{
	text-align:center;
	color:#00AA00;
}

.ansIncorrect{
	text-align:center;
	color:red;
}

#listAnswers{
	list-style: none;
}