/* override bootstrap styles */
html {
	position: relative;
	min-height: 100%;
}
body {
	color: #646464;
	background-color: #efefef;
	font-size: 14px;
	margin-bottom: 40px;
}
h1, h2, h3, .highlight, #masthead h4 {
	font-family: calibri, arial narrow, sans-serif;
	margin-top: 0;
}
#masthead {
	min-height: 199px;
	background-color: #000044;
	color: #aaaacc;
}
#masthead h1 {
	font-size: 55px;
	line-height: 1;
	color: #fefeff;
	margin-top: 50px;
}
#masthead .well {
	margin-top: 31px;
	background-color: #111166;
	border-color: #000022;
	color: #efefff;
	min-height: 127px;
}
#topPanel {
	padding-top: 0px;
	padding-left: 22px;
	padding-right: 22px;
}
#topPanel .panel-body {
	padding-top: 0px;
}
.top-spacer {
	background-color: #ffffff;
	height: 40px;
}
a, a:hover {
	color: #223344;
	text-decoration: none;
}
.panel {
	border-color: transparent;
	border-radius: 0;
}
.panel .lead {
	overflow: hidden;
	height: 90px;
}
.label-float {
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	opacity: .9;
	padding: 6px;
	color: #fff;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #000044;
	color: #CCCCCC;
}

.footer a {
	color: #CCCCCC;
	text-decoration:none;
}